*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(../img/photo_2022-09-26_21-59-48.jpg);
   background-size: cover;
   width: 400px;
    height: 400px;
   text-align: center;
}
h2{
    color: red;
}
   
